@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
  font-family: "Oswald", sans-serif;
}
.background{
 background-image: url("./images/rock.jpg");
 height: 100vh; /*100VH would represent 100% of the viewport's height, or the full height of the screen. And of course, VW stands for “viewport width”, which is the viewable screen's width. 100VW would represent 100% of the viewport's width, or the full width of the screen.*/
 width: 100%;
background-size: cover;
background-repeat: no-repeat;
}
.container{
    display: grid;
    place-items: center;
    height: 100vh;

}
.container h1{
    font-size: 4rem;
}

.settings{
    position:absolute;
    bottom: 800px;
    right:20px;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.settings .fa-cog{
    font-size: 3rem ;
    color: antiquewhite;
}
.settings-content{
    display: flex;
    gap: 1rem;
}
.settings-content input{
    padding:0.5rem 1rem;
    font-size: 1rem;
}
.settings-content button{
    padding:0.5rem 1rem;
    background-color: green;
    border: none;
    border-radius: 10px;
    font-size:1rem;
    color:whitesmoke ;
}